@charset "utf-8";
/* CSS Document */

html,body,div,span,a,ul,li,form,label,input,select,textarea,table,td,tr,font,p{
	margin: 0px;
	padding:0px;
	font-size:12px;
	line-height:1.5;
	font-family:Arial,Helvetica,"微软雅黑",sans-serif;
}

*{outline-width:medium;outline-style:none;outline-color:invert;}
body{padding:0px; margin:0px; background:url(../images/bg.gif) top center no-repeat; background-color:#fdfbf0;}
img{border:none;}
.cls{clear:both; height:0px; font-size:0px;display:block;}
div{display:block;}
li{list-style-type:none;display:block;}
ul{ margin:0px; padding:0px;}

a:link,a:visited,a:active{color:#222; text-decoration:none; font-size:12px;}
a:hover{color:#222; text-decoration:none;font-size:12px;}
ul,dl,li,dd,dl {list-style:none;}


/* index 首页 */

#top_Div{ width:100%; height:114px;}
#menu_Div{ width:100%; height:41px; background:url(../images/menu_bg.png) repeat-x;}
#middle_Div{width:100%; height:auto; min-height:500px;}
#bottom_Div{width:100%; height:auto; min-height:35px;}


.top_Div_conter{width:979px;height:114px; margin:0px auto;}
.menu_Div_conter{width:979px;height:36px; margin:0px auto;}
.middle_Div_conter{width:989px;height:auto; margin:0px auto;}
.bottom_Div_conter{width:989px;height:auto; margin:0px auto;}


#now a{font-size:14px;  color:#FFF; padding:5px 29px;margin:0px 12px; line-height:36px;background:url(../images/menu_abg.png) center center no-repeat;}
#now a:hover{font-size:14px;  color:#FFF;padding:5px 29px;margin:0px 12px; line-height:36px; background:url(../images/menu_abg.png) center center no-repeat;}
#nav a.active{background:url(../images/menu_abg.png) no-repeat;}
#nav a.active:hover{background:url(../images/menu_abg.png) no-repeat;}


#bottom_Div p{ text-align:center; font-size:12px;  color:#353535; line-height:30px;}


.bc01{width:989px;background:url(../images/conter_top_border.png) top no-repeat; height:5px; font-size:0px;}
.bc02{width:989px;background:url(../images/conter_middle1_border.png) top no-repeat; height:10px; font-size:0px;}
.bc03{width:961px;background:url(../images/conter_middle3_border.png) repeat-y; height:auto; min-height:470px; padding:0px 14px; padding-bottom:10px;}
.bc05{width:989px;background:url(../images/conter_bottom_border.png) top no-repeat; height:5px; font-size:0px;}

.logo{ float:left; padding-top:43px; padding-left:4px;}
.top_collection{ float:right; margin-top:80px;}
.top_collection .tc1{background:url(../images/top_collection_icon01.png) left center no-repeat; padding:10px 10px 10px 20px; line-height:20px;}
.top_collection .tc2{background:url(../images/top_collection_icon02.png) left center no-repeat; padding:10px 0px; padding-left:20px; line-height:20px;}
.top_collection a{font-size:12px;  color:#000;}
.top_collection a:hover{font-size:12px;  color:#c8191a;}

.index_avg{ width:961px; height:333px; position:relative;}
.index_avg_Div{ float:left; width:225px; height:132px; padding:30px 13px 36px; margin-top:85px; background:url(../images/index_avg_div_bg.png) no-repeat; color:#FFF; position:relative; z-index:999;}
.index_avg_Div table{ margin-left:15px;}
.index_avg_Div h2{ text-align:center; font-size:25px;  border-bottom:1px solid #FFF; height:36px; line-height:36px; font-weight:normal; margin:0;}
.index_avg_Div p{font-size:12px;  color:#FFF; line-height:18px; margin:0px; padding:0px;}

.idnex_Div01{ margin-top:10px;}
.idnex_Div01_left{ float:left; width:531px; height:220px; background:#f4f4f4; border:1px solid #d8d8d8;}
.idnex_Div01_right{ float:right;width:417px; height:220px; background:#f4f4f4; border:1px solid #d8d8d8;}
.idnex_Div01_left_imgs{ float:left; width:137px; height:144px; border:3px solid #FFF; margin-left:40px; margin-top:10px;}
.idnex_Div01_left_font{ float:left; width:auto; margin-left:12px; margin-top:10px; margin-right:15px;}
.idnex_Div01_left_font li{ clear:both; line-height:25px; width:315px;}
.idnex_Div01_left_font a{ float:left;font-size:12px;line-height:25px;  color:#222; background:url(../images/list_icon.gif) left center no-repeat; padding-left:17px;}
.idnex_Div01_left_font a:hover{ float:left;font-size:12px;  color:#c8191a; background:url(../images/list_icon.gif) left center no-repeat; padding-left:17px;}
.idnex_Div01_left_font span{ float:right;font-size:12px;  color:#222;}

.idnex_Div01_right_imgs{ float:left; width:120px; height:126px; border:3px solid #FFF; margin-left:40px; margin-top:10px;}
.idnex_Div01_right_font{ float:left; width:224px; margin-left:12px; margin-top:10px; margin-right:15px;}
.idnex_Div01_right_font span{ padding:0px; margin:0px;font-size:12px;  color:#222; line-height:25px;}


.idnex_Div02{ margin-top:9px;}
.idnex_Div02_left{ float:left; width:624px; height:260px; background:#f4f4f4; border:1px solid #d8d8d8;}
.idnex_Div02_right{ float:right;width:324px; height:260px; background:#f4f4f4; border:1px solid #d8d8d8;}
.idnex_Div02_left_jsImg{ margin-left:6px; width:611px; height:214px; position:relative;}
.idnex_Div02_right_video{ margin-left:6px;}


.idnex_Div03{ margin-top:9px;}
.idnex_Div03_left{ float:left; width:528px; height:245px; background:#f4f4f4; border:1px solid #d8d8d8;}
.idnex_Div03_right{ float:right;width:418px; height:245px; background:#f4f4f4; border:1px solid #d8d8d8;}

.idnex_Div03_left_Div{ width:auto; height:auto;}
.idnex_Div03_left_Div_Img{float:left; width:98px; height:76px; border:3px solid #FFF; margin-left:40px; margin-top:10px;}
.idnex_Div03_left_Div_txt{float:left; width:357px; height:82px; margin-left:12px; margin-top:10px; margin-right:15px;}
.idnex_Div03_left_Div_txt span{ padding:0px; margin:0px;font-size:12px;  color:#222; line-height:25px;}
.idnex_Div03_right_Div{ width:auto; height:auto;}
.idnex_Div03_right_List{ width:auto; height:auto; margin-left:40px; padding-top:5px;}

.idnex_Div03_right_Div_imgs{ float:left; width:128px; height:100px; border:3px solid #FFF; margin-left:40px; margin-top:10px;}
.idnex_Div03_right_Div_font{ float:left; width:217px;; margin-left:12px; margin-top:10px; margin-right:15px;}
.idnex_Div03_right_Div_font span{ padding:0px; margin:0px;font-size:12px;  color:#222; line-height:25px;}
.idnex_Div03_right_List ul{}
.idnex_Div03_right_List li{ float:left; line-height:25px; width:150px; margin-right:30px;}
.idnex_Div03_right_List a{ float:left;font-size:12px;line-height:25px;  color:#222; background:url(../images/list_icon.gif) left center no-repeat; padding-left:17px;}
.idnex_Div03_right_List a:hover{ float:left;font-size:12px;  color:#c8191a; background:url(../images/list_icon.gif) left center no-repeat; padding-left:17px;}


.index_Div_title{ height:30px; background:url(../images/title_icon.png) left top no-repeat; margin:5px; padding-left:38px; margin-right:15px;}
.index_Div_title_line{ width:100%; height:29px; line-height:29px; border-bottom:1px solid #920305;}
.index_Div_title_line span{font-size:14px;  color:#890405;}
.index_Div_title_line a{font-size:12px;  color:#222;}
.index_Div_title_line a:hover{font-size:12px;  color:#c8191a;}
.index_Div_title_line .sp1{ float:left; padding-top:7px;}
.index_Div_title_line .sp2{ float:right;padding-top:6px;}


/* about */

.about_avg{ margin-left:3px;}
.about_conter{ margin-left:3px; padding-top:17px; padding-bottom:17px;}
.about_conter_left{ float:left; width:184px; height:auto;}
.about_conter_right{float:left; margin-left:12px; width:756px; height:auto;  background:#f4f4f4; border:1px solid #d8d8d8;}

.about_conter_left_Title{width:184px; height:39px; font-size:16px;  color:#FFF; background:#920305; line-height:39px; text-align:center;}
.about_conter_left_Title img{ margin-top:12px;}
.about_conter_left_Menu{  width:182px; height:auto; margin-top:10px; border:1px solid #d8d8d8; background:url(../images/left_bg.jpg) top no-repeat;}
.about_conter_left_Menu ul{ background:url(../images/left_menu_bottom.gif) bottom no-repeat; padding-bottom:50px; padding-top:10px;}
.about_conter_left_Menu li{ padding:10px 0px; text-align:center; border-bottom:1px solid #920002; margin:0px 10px;background:url(../images/left_menu_icon.png) left center no-repeat;}
.about_conter_left_Menu a{font-size:14px;  color:#000;font-family:"宋体";}
.about_conter_left_Menu a:hover{font-size:14px;  color:#F00;font-family:"宋体";}


.about_Div_title{ width:680px; height:30px; background:url(../images/title_icon.png) left top no-repeat; margin:5px 18px 5px 20px; padding-left:38px;
 float:left;
 display:inline;
 position:relative;
 overflow:hidden;}
.about_Div_title_line{ width:100%; height:29px; line-height:29px; border-bottom:1px solid #920305;}
.about_Div_title_line span{font-size:16px;  color:#890405;}
.about_Div_title_line a{font-size:12px;  color:#222;}
.about_Div_title_line a:hover{font-size:12px;  color:#c8191a;}
.about_Div_title_line .sp1{ float:left; padding-top:5px;}
.about_Div_title_line .sp2{ float:right;padding-top:5px;}

.about_Div_conter{margin:0px 35px 40px 20px; width:auto; min-height:350px; padding-left:38px;}


/* contact */

.contact_conter{ margin-left:3px; background:#f4f4f4; border:1px solid #d8d8d8; margin-top:17px;}
.contact_conter_Div{margin:0px 35px 0px 20px; padding-bottom:50px; height:auto; min-height:320px;}



/* projects */

.projects_avg{ width:964px; height:370px;}
.projects_avg_Imgs{ float:left; width:716px; height:370px;}
.projects_avg_Font{float:right; width:215px; height:370px; background:#b30e11; color:#FFF; padding-left:15px; padding-right:15px;}
.info1{ display:none;}
.info1 h2{font-size:26px;  font-weight:bold; border-bottom:1px solid #FFF; padding-top:50px; line-height:64px; font-weight:normal;}
.info1 p{font-size:12px;  line-height:24px;}

.projects_conter{background:#f4f4f4; border:1px solid #d8d8d8; margin-top:17px;}
.projects_conter_Div{margin:0px 15px 0px 46px; padding-bottom:10px; height:auto;}
.projects_conter_Div li{ margin:10px 0px; }

.list_font{ float:left; width:180px; height:98px; padding:8px; line-height:22px; padding-top:38px;}
.list_font p{color:#222; font-size:16px; font-weight:bold; margin:0px; padding:0px;}
.list_font span{}
.list_font label{color:#222; font-size:12px;}
.list_font a.more{color:#a6a6a6; font-size:12px; background:url(../images/projects_a1_icon.gif) 52px 1px no-repeat; padding-right:20px;}
.list_font a.more:hover{color:#c8191a; font-size:12px; background:url(../images/projects_a2_icon.gif) 52px 1px no-repeat; padding-right:20px;}

.list_imgs{float:right; width:674px; height:128px; padding:7px; background:#FFF; border:1px solid #d8d8d8;}


.projects2_conter{background:#f4f4f4; border:1px solid #d8d8d8; margin-top:17px;}
.projects2_conter_Div{margin:0px 15px 0px 46px; padding-bottom:10px; height:auto;}
.projects2_conter_Div li{ margin:10px 0px; }



/* projects_more */
.projects_more_conter{background:url(../images/projects_bg.jpg) no-repeat; margin-top:17px;padding-bottom:30px;}

.projects_more_left_menu{float:left; width:196px; margin-left:58px; margin-top:10px;}
.projects_more_right_txt{float:left; width:674px; margin-top:10px;}

.projects_more_right_img{ padding:7px; background:#fffbf2; border:1px solid #d8d8d8;}
.projects_more_right_font{ padding:10px;}

/*investment*/



/* news */
.news_Div01_left_font{ float:left; width:auto; margin-top:10px; margin-right:30px;}
.news_Div01_left_font li{ clear:both; line-height:25px; width:633px;}
.news_Div01_left_font a{ float:left;font-size:12px;line-height:25px;  color:#222; background:url(../images/list_icon.gif) left center no-repeat; padding-left:17px;}
.news_Div01_left_font a:hover{ float:left;font-size:12px;  color:#c8191a; background:url(../images/list_icon.gif) left center no-repeat; padding-left:17px;}
.news_Div01_left_font span{ float:right;font-size:12px;  color:#222;}


/* combined_enterprise */

.combined_enterprise_Div{ width:959px;background:#f4f4f4; border:1px solid #d8d8d8; padding-bottom:40px;}
.combined_enterprise_Div_white{ width:auto; height:auto; margin:17px 60px 10px 58px; background:#FFF; padding:15px;}
.combined_enterprise_avg{}
.combined_enterprise_Title{ text-align:center;font-size:12px;  color:#222; line-height:65px;}
.combined_enterprise_List_Div{}
.combined_enterprise_List_Div ul{ margin-left:50px;}
.combined_enterprise_List_Div li{ float:left; width:150px; height:60px; border:1px solid #eee; margin-right:35px; margin-bottom:30px;}


/* combined_more */
.combined_more_left{ float:left; width:210px;}
.combined_more_right{ float:left; width:565px; margin-left:36px;}

.combined_more_left_img{ text-align:center;}
.combined_more_left_txt{font-size:12px;  color:#222; line-height:25px;}




/*js*/

.nav{ width:114px; height:36px; padding:0 12px; background:url(../images/menu_ge.gif) left no-repeat; float:left; }
.nav div{ width:114px; height:29px; position:relative; z-index:9999; padding-top:7px;}
.nav div > a{ display:block; width:113px; height:23px; line-height:23px; padding-top:5px; text-align:center; color:#fff; font-size:14px; }
.nav .hover{ background:url(../images/menu_abg.png) no-repeat;}
.subnav{ width:114px; height:auto; position:absolute; top:36px; left:0; background:url(../images/black_opacity.png) repeat; padding:10px 0; display:none;}
.subnav .acitve{ background:url(../images/red_opacity.png) repeat;}
.subnav a{ display:block; height:20px; width:114px; text-align:center; line-height:26px; font-size:12px;  color:#fff; padding-top:8px;}

.index_adv{ width:960px; height:333px; position:absolute; left:0; top:0;}
.index_adv img{ position:absolute; left:0; top:0; opacity:0; filter:alpha(opacity:0);}
.info{ display:none;}
.index_btn{ position:absolute; width:50px; height:6px; bottom:26px; right:30px; z-index:9999;}
.index_btn li{ float:left; width:6px; height:6px; background:url(../images/index_btn.png) 0 -6px no-repeat; margin-left:4px;}
.index_btn .active{ background:url(../images/index_btn.png) no-repeat;}
.idnex_Div01_left_imgs{ position:relative;}
.idnex_Div01_left_imgs li{ position:absolute; width:137px; height:144px; left:0; top:0; opacity:0; filter:alpha(opacity:0);}
.idnex_Div01_left_imgs img{ border:none;}

.projects_avg_Imgs{ position:relative;}
.projects_avg_Imgs img{ position:absolute; top:0; left:0; filter:alpha(opacity:0); opacity:0;}
.projects_avg{ position:relative;}
.pro_btn{ position:absolute; width:690px; height:12px; left:0; bottom:10px; z-index:999; text-align:right;}
.pro_btn span{ display:inline-block; width:16px; height:12px; background:#910e0c; font-size:10px; line-height:12px;  color:#fff; font-weight:bold; text-align:center; filter:alpha(opacity:80); opacity:0.8; cursor:pointer; margin-left:4px;}
.pro_btn .active{ background:#101820;}

.qin{ width:611px; height:214px; position:relative; z-index:99999; overflow:hidden;}
.qin li{ width:37px; height:214px; position:relative; float:left; margin-left:1px;}
.qin .bar{ width:37px; height:214px;  cursor:default;}
.qin h5{ width:14px; font-size:14px; color:#fff; margin:0; margin-left:11px; padding-top:10px; }
.qin div a{ width:16px; height:16px;  font-size:12px; color:#000; position:absolute; left:15px; top:182px; font-weight:bold;}
.qin .active .bar{}
.qin .active a{ color:#cf0505;}
.qinshow{ width:611px; height:214px; position:absolute; left:0; top:0; overflow:hidden;}
.qinshow img{ position:absolute; left:0; top:0; opacity:0; filter:alpha(opacity:0);}


.pagination{ text-align:center;}
.pagination ul {
  display: inline-block;
  list-style:none;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow:none;
}
.pagination ul > li {
	float:left;
  display:inline-block;
  margin-left:2px;
  margin-right:2px;
}
.pagination ul > li .current {
	color:#FFF;
	background-color: #920305;
	}
.link{ width:300px; height:214px; display:block; position:absolute; left:37px; top:0; background:#fff; filter:alpha(opacity:0); opacity:0;}


